#cat {
    position:absolute;
}

body{
    background-color: lightblue;
    font-family: "Share Tech Mono", monospace;
    font-style: normal;
}

button {
    font-family: "Share Tech Mono", monospace;
    font-style: normal;
}