@font-face {
    font-family: 'Gunship';
    src: url('gunshipcond.ttf') format('truetype');
}

.butterfly-kids-regular {
    font-family: "Butterfly Kids", cursive;
    font-weight: 400;
    font-style: normal;
  }
  .gochi-hand-regular {
    font-family: "Gochi Hand", cursive;
    font-weight: 400;
    font-style: normal;
  }
  
  

@font-face {
    font-family: 'Gunship2';
    src: url('gunshiplaserital.ttf') format('truetype');
}

p {
    font-family: 'Gochi Hand';
}

button {
    font-family: 'Gochi Hand';
    font-size: 20px;
}

h1 {
    font-family: "Gochi Hand";
    font-size: 80px;
}

body{
    text-align: center;
    font-size: 20px;
}

#intro{
    background-color: brown;
    color: white;
    padding: 20px;
    border-radius: 10px;
}

#obj{
        background-color: #159ea3;
        color: white;
        padding: 20px;
        border-radius: 10px;
}

.info{
    display: flex;
    justify-content: space-evenly;

}

.text{
    padding: 13px;
    font-family: 'Gochi Hand';
    background-color: #d9d1d0;
    border-radius: 10px;
}