@font-face {
    font-family: 'Gunship';
    src: url('gunshipcond.ttf') format('truetype');
}

@font-face {
    font-family: 'Gunship2';
    src: url('gunshiplaserital.ttf') format('truetype');
}

p {
    font-family: 'Gunship', sans-serif;
}

button {
    font-family: 'Gunship', sans-serif;
}

h1 {
    font-family: 'Gunship2', serif;
    font-size: 60px;
}

body{
    text-align: center;
    font-size: 20px;
}

#intro{
    background-color: brown;
    color: white;
    padding: 20px;
    border-radius: 10px;
}